<footer>
  <div
    class="right-3 bottom-3 fixed h-16 bg-blue-900 p-3.5 flex flex-row gap-4 items-center overflow-hidden rounded-full"
  >
    <script webc:type="js" webc:is="template">
      socials.items
        .map(
          (item) =>
            `<a href="${item.url}" target="_blank" rel="noopener noreferrer" class="shrink-0"><img src="${item.icon}" alt="${item.name}" title="${item.name}" class="w-icon"></a>`,
        )
        .join('');
    </script>
  </div>

  <!-- <div class="left-3 bottom-3 fixed bg-blue-900 rounded-full">
    <img src="/images/bisect-hosting.png" class="hover:hidden" width="64"/>
    <a href="https://bisecthosting.com/gears" class="hidden hover:visible"><img src="/images/bisect-banner.png"/></a>
  </div> -->
</footer>
